* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
:root{
  --color-cuerpo:#3f3e39;
  --color--principal:#008584;
  --color--secundario:#006666;
  --color--texto:#ffff;

}
body{
  background-color: var(--color-cuerpo);
}
.header{
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color:var(--color--principal);
  border: 2px solid var(--color--secundario);
}
.header__logo{
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo>img
{
  height: 75px;
}
.header__contenido{
  height: 100%;
}
.header__contenido{
  display: flex;
}
.header__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  /* border-left: 2px solid #241e26;
  border-right  : 2px solid #241e26; */
  transition: 0.3s;
}
/* .header__link:hover{
  transform: translateY(10px);
  border: 2px solid #241e26;
  background-color: cyan;
  color: #44374a;
} */

main{
  color: var(--color--texto);
  font-size: 20px; 
}

table{
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  background-color: var(--color-cuerpo);
  font-size: larger;
}

th, td {
  border: 2px solid var(--color--secundario);
  padding: 10px;
  text-align: center;
}

th{
  background-color: var(--color--principal);
}
