* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
:root{
  --color-cuerpo:#3f3e39;
  --color--principal:#008584;
  --color--secundario:#006666;
  --color--texto:#ffff;
  --color--rojo:rgb(248, 10, 62);
  --color--azul:rgb(10, 192, 248);
  --color--verde:rgb(19, 196, 19);
  --color--negro:#000000;
  /* --color--hoverRojo:; */
}
body{
  background-color: var(--color-cuerpo);
}
.header{
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color:var(--color--principal);
  border: 2px solid var(--color--secundario);
}
.header__logo{
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}
.header__logo>img
{
  height: 50px;
}
.header__contenido{
  height: 100%;
}
.header__contenido{
  display: flex;
}
.header__link{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  transition: 0.3s;
  
}
.header__link:hover{
  transform: translateY(10px);
  border: 2px solid #241e26;
  background-color: cyan;
  color: #44374a;
}

main{
  color: var(--color--texto);
  font-size: 20px; 
}

table{
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  background-color: var(--color-cuerpo);
  font-size: larger;
} 





th, td {
  border: 2px solid var(--color--secundario);
  padding: 10px;
  text-align: center;
}

th{
  background-color: var(--color--principal);
}

.boton{
  width: 100px;
  outline: none;
  box-shadow: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  /* border: #000000 2px solid; */
}

.containerNuevo{
  margin: 50px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.editar{
  background-color: var(--color--azul);

}

.eliminar{
  background-color: var(--color--rojo);

}

.nuevo{
  background-color: var(--color--verde);

}

.editar:hover{
  background-color: #0ab0f1b9;
  transition: 0.7s;
  border: #e9e9e9 2px solid;
}


.eliminar:hover{
  background-color: #f10a4fb9;
  transition: 0.7s;
  border: #e9e9e9 2px solid;
}

.nuevo:hover{
  background-color: #19af32b9;
  transition: 0.7s;
  border: #e9e9e9 2px solid;
}
